body {
    min-width: 767px;
}
.container {
    height: 100%;
    height: 100vh;
}
h1 {
    font-size: 48px;
    padding-left: 55px;
}
#logo {
    margin-top: 16px;
    float: left;
    height: 48px;
}
#syntax-rules,
#translate-rules,
#input,
#out {
    font-family: "Courier New", Courier, monospace;
}
#syntax-rules,
#trans-rules,
#syntax-settings,
#trans-settings {
    min-height: 330px;
}
#input {
    min-height: 300px;
}
#out {
    height: 400px;
    resize: both;
    font-size: 10pt;
    color: #fefefe;
    background-color: #222;
    overflow-y: scroll;
}
footer {
    margin: 15px;
}