@import "main.css";
@import "player.css";

#write-us {
    width: 766px;
    float: left;
    line-height: 26px;
    text-align: center;
}

#write-us h3 {
    color: #ffae00;
    font-size: 16px;
}

#write-us p {
    color: #000;
    margin-top: 5px;
    font-size: 14px;
}